.ContainerPost {
  width: 800px;
  background-color: #fff;
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 16px;
}

.NamePostLikes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ContainerNewComment {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}